# =============================================
#  CONFIGURAZIONE KIOSK - TRACKING MM
#  Modifica SERVER_IP con l'IP del PC server
# =============================================

SERVER_IP=192.168.150.50
SERVER_PORT=8080
